<div>
  <app-login [privilege]="userPrivilege" (submitted)="submit()"></app-login>
</div>
<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">Bug Id</th>
      <th scope="col">Bug Name</th>
      <th scope="col">Bug Type</th>
      <th scope="col">Reporter</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bug of bugs">
      <td>{{ bug.bugId }}</td>
      <td>{{ bug.bugName }}</td>
      <td>{{ bug.bugType }}</td>
      <td>{{ bug.reporter }}</td>
    </tr>
  </tbody>
</table> -->
