#viewstyle {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #viewstyle td, #viewstyle th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #viewstyle tr:nth-child(even){background-color: #f2f2f2;}
  
  #viewstyle tr:hover {background-color: #ddd;}
  
  #viewstyle th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  .my-class {
    text-align: center;
    background:white;
    padding:15px; 
  }
  