<table class="table" id="viewstyle">
    <thead>
      <tr>
        <th scope="col">Bug Id</th>
        <th scope="col">Product</th>
        <th scope="col">Env.</th>
        <th scope="col">Type</th>
        <th scope="col">Synopsis</th>
        <th scope="col">Status</th>
        <th scope="col"><a routerLink="/reporterbugdetail">Bug Details</a></th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let bug of bugs">
          <td>{{ bug.bugId }}</td>
          <td>{{ bug.bugName }}</td>
          <td>{{ bug.bugType }}</td>
          <td>{{ bug.reporter }}</td>
        </tr> -->
    </tbody>
  </table>
  <div class="my-class">
    <a routerLink="/reporterpanel">back</a>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
  </div>