<table class="table" id="viewstyle">
  <thead>
    <tr>
      <th scope="col">Bug Id</th>
      <th scope="col">Product</th>
      <th scope="col">Env.</th>
      <th scope="col">Type</th>
      <th scope="col">Synopsis</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let bug of bugs">
        <td>{{ bug.bugId }}</td>
        <td>{{ bug.bugName }}</td>
        <td>{{ bug.bugType }}</td>
        <td>{{ bug.reporter }}</td>
      </tr> -->
  </tbody>
</table>
<a routerLink="/admindetail">Update Bug</a> <span>|&ensp;&ensp;&ensp;</span>
<a href="#">Delete</a> <span>|&ensp;&ensp;&ensp;</span><a routerLink="/admindetail">Detail</a>
<div class="my-class">
  <a routerLink="/adminpanel">back</a>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
</div>